  <article>
    <h2>All my ~</h2>
    <ul>
      <li><a href="http://drawbridge.club/~antic">http://drawbridge.club/~antic</a></li>
      <li><a href="http://hypertext.website/~antic">http://hypertext.website/~antic</a></li>
      <li><a href="http://tilde.center/~antic">http://tilde.center/~antic</a></li>
      <li><a href="http://tilde.farm/~antic">http://tilde.farm/~antic</a></li>
      <li><a href="http://tilde.town/~antic">http://tilde.town/~antic</a></li>
      <li><a href="http://totallynuclear.club/~antic">http://totallynuclear.club/~antic</a></li>
    </ul>
  </article>